img(src="/resources/images/devguide/attribute-directives/first-highlight.png" alt="First Highlight")

<a href="https://raw.githubusercontent.com/angular/angular.io/master/public/resources/images/logos/angular/angular.png" target="_blank">
<img src="/resources/images/logos/angular/angular.png" height="40px" title="download Angular logo"></a>