|some text

+makeExample('transform-makeExample/ts/src/app/some.component.ts','module-id')(format='.')
+makeExample('otherExample/ts/src/app/some.component.ts','module-id')(format='.')
+makeExample('src/app/some.component-1.ts')
+makeExample('src/app/some.component-2.ts','module-id')
+makeExample('src/app/some.component-3.ts','module-id', 'this is a title')
+makeExample('src/app/some.component-4.ts','module-id', '')
+makeExample('src/app/some.component-4.ts','module-id', null)
|more text
+makeExample('cb-ts-to-js/ts/src/app/some.component.ts','module-id', '')(format='linenums:15')
+makeExample('cb-ts-to-js/js-es6-decorators/src/app/some.component.js','module-id', '')
