+makeExcerpt('src/app/hero-list.component.ts')

+makeExcerpt('src/app/hero-list.component.ts', 'class')

+makeExcerpt('src/app/hero-detail.component.ts (template)', 'template-1')

+makeExcerpt('toh-4/ts/src/app/app.component.1.ts', 'providers', 'src/app/app.component.ts')
