+makeTabs(
  `cb-component-relative-paths/ts/src/app/some.component.ts,
  cb-component-relative-paths/ts/src/app/some.component.html,
  cb-component-relative-paths/ts/src/app/some.component.css,
  cb-component-relative-paths/ts/src/app/app.component.ts`,
  null,
  `src/app/some.component.ts, src/app/some.component.html, src/app/some.component.css, src/app/app.component.ts`)
