|some text

+makeExample('cb-component-relative-paths/ts/src/app/some.component.ts','module-id')(format='.')

|more text

+makeExample('cb-ts-to-js/ts/src/app/some.component.ts','module-id')(format='linenums:15')

+makeExample('cb-ts-to-js/js-es6-decorators/src/app/some.component.js','module-id')
